html{

	font-size:10px;
}

body{

font-family: "poppins" , sans-serif;

}

*{
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
margin:1rem;
padding: 0px;
box-sizing: border-box; 

}

.resume_head{

		font-size: 3rem;
		font-weight: bold;
		margin-top: 5rem;
		color: #252525;

}
.prodetails{

	
	display: flex;
	flex-direction: row;
	font-size: 3rem;
	margin-top: 2rem;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: -25px;
	color: #323232;
}

.prodetails div{

margin-left: 10.6rem;
font-size: 2rem;


}

.pdetails{
	display: flex;
	flex-direction: column;
	margin-left: 30rem;
	font-size: 1.5rem;
	color: #5E5E5E;
}

#littledetails{

	font-weight: bold;
	position: relative;
	float: left;

}

#dans{
	display: flex;
	flex-direction: column;
	margin-left: 30rem;
	font-size: 1.5rem;
	margin-left: 37.6rem;
margin-top: -13.5rem;
display: block;
color: #818181;
}

#ans{


	font-family: "Times New Roman", Times, serif;
}


hr{


	margin-left: 25rem;

}

.abtme{

	font-weight: bold;
}

.pdetails2{

    display: flex;
	flex-direction: column;
	margin-left: 60rem;
	font-size: 1.5rem;
	margin-top:-13rem;
	color: #5E5E5E;

}

#dans2{
	display: flex;
	flex-direction: column;
	margin-left: 6rem;
	font-size: 1.5rem;
	margin-left: 73.6rem;
margin-top: -13.5rem;
display: block;
color: #818181;
}

img{

	transform: rotate(270deg);
	height: 20rem;
	width: 20rem;
    margin-left: -73rem;  
    margin-top: -15rem;    
    border-radius: 50%;
     
}

#detailupic{


display: flex;
	flex-direction: column;
	margin-left: 3rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #818181;
}

#pdetailsupic1{

display: flex;
	flex-direction: column;
	margin-left: 19rem;
	font-size: 1.5rem;
	margin-top:-28.5rem;
	font-family: "Times New Roman", Times, serif;
color: #818181;
}
#AboutMee{
margin-left: 33rem;
font-size: 2rem;
font-weight: bold;
color: #818181;
}

.paracontainer{

	height:50%;
	width: 50%;
	position: relative;
	float: right;
	margin-right: 100px; 
	font-size: 1.4rem;
}
#para{

	padding:20px;
	display: block;

}